FirstProject/Resources/Schema/product.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:product="http://www.tibco.com/schemas/FirstProject/Resources/Schema/product"
	 targetNamespace="http://www.tibco.com/schemas/FirstProject/Resources/Schema/product"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="product">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="productName" type="xs:string"/>
				<xs:element name="productId" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>